body {
  background-color: AliceBlue;
  margin: 0;
}

h3 {
  margin: 18px;
}

h4 {
  margin: 7px;
}

.div-1 {
  height: 98vh;
  width: 38%;
  --margin: 10px;
  background-color: #a1d7d7;
  border-radius: 10px;
  padding: 5px;
}

@media (max-width: 1200px) {
  .div-1 {
    width: 40%;
  }
}

@media (max-width: 992px) {
  .div-1 {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .div-1 {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .div-1 {
    width: auto;
    border-radius: 0px;
  }
}

.textarea-1 {
  height: 20vh;
  width: 75%;
  overflow: scroll;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
}

.div-result {
  height: 30vh;
  width: 80%;
  overflow: scroll;
  border-width: 3px;
  border-style: solid;
  border-color: #055157;
  background-color: #699194;
  border-radius: 6px;
}

.table-result {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 10px;
}

.td-result-top-column {
  width: 75px;
}

td {
  border: 1px solid;
  padding: 2px;
}

tr[data-tr-type="1"] {
    background: #5dba00
}

tr[data-tr-type="2"],
tr[data-tr-type="3"] {
    background: #83bf00
}

tr[data-tr-type="4"],
tr[data-tr-type="5"] {
    background: #a4bd06
}

tr[data-tr-type="6"],
tr[data-tr-type="7"] {
    background: #babd06
}

tr[data-tr-type="8"],
tr[data-tr-type="9"] {
    background: #ccb800
}

tr[data-tr-type="10"],
tr[data-tr-type="11"] {
    background: #e3a509
}

tr[data-tr-type="12"],
tr[data-tr-type="13"],
tr[data-tr-type="14"] {
    background: #ed8002
}

tr[data-tr-type="15"],
tr[data-tr-type="16"],
tr[data-tr-type="17"] {
    background: #ed5700
}


tr[data-tr-type="18"],
tr[data-tr-type="19"],
tr[data-tr-type="20"],
tr[data-tr-type="21"],
tr[data-tr-type="22"],
tr[data-tr-type="23"],
tr[data-tr-type="24"],
tr[data-tr-type="25"] {
    background: #ed1c00
}


.alert {
    background-color: #d42424;
    width: 68%;
    font-size: 100%;
    padding: 5%;
    border-radius: 5px;
}

/* bootstrap */
.btn-1 {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    margin: 2px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-7:hover {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
    }